body {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url(img/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-nav:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.background-nav {
  background-color: #fa8890;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-logo {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-animado {
  animation: animacion 6s ease-in-out infinite;
  height: 450px;
  width: 450px;
}

@keyframes animacion {
  0% {
    transform: translateY(10px);
  }
  25% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.container-img-ondulado {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
}

.footer_ondulado2 {
  height: 100%;
  width: 100%;
}

.footer-1 {
  height: 50px;
  width: 100%;
  border-top: 2px solid #fa8890;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_copyright {
  font-weight: 700;
  font-size: 1.3rem;
  color: #ff3643;
}

.footer2 {
  height: 40px;
  width: 100%;
  background: linear-gradient(to right, #ffd2d5, #df555e);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.text-footer-2 {
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffffff;
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  .logo-animado {
    height: 300px;
    width: 300px;
  }
}
